<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.elearningfordeafanddumbkids">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Kid_registration"></activity>
        <activity android:name=".Registration" />
        <activity android:name=".login" />
        <activity android:name=".kid_doc" />
        <activity android:name=".Sixth" />
        <activity android:name=".pages" />
        <activity android:name=".Choose_type" />
        <activity android:name=".choose_menu" />
        <activity android:name=".choose_profile" />
        <activity android:name=".welcome">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>